[Unit]
Description=Turtle Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=~/turtlecoin/build/src/TurtleCoind
Restart=always

[Install]
WantedBy=multi-user.target